{
    "rules": [
        {
            "rulePriority": 1,
            "description": "Keep last ${images_to_keep} images with `any` tag",
            "selection": {
                "tagStatus": "any",
                "countType": "imageCountMoreThan",
                "countNumber": ${images_to_keep}
            },
            "action": {
                "type": "expire"
            }
        }
    ]
}