{
    "Sid": "AllowCrossAccountPull",
    "Effect": "Allow",
    "Principal": {
        "AWS": [${join(",", formatlist("\"arn:aws:iam::%s:root\"", ${pull_account_list}))}]
    },
    "Action": [
        "ecr:GetDownloadUrlForLayer",
        "ecr:GetRepositoryPolicy",
        "ecr:BatchGetImage",
        "ecr:BatchCheckLayerAvailability"
    ]
}