{
    "Sid": "AllowCrossAccountPush",
    "Effect": "Allow",
    "Principal": {
        "AWS": [${push_account_list}]
    },
    "Action": [
        "ecr:PutImage",
        "ecr:InitiateLayerUpload",
        "ecr:UploadLayerPart",
        "ecr:CompleteLayerUpload"
    ]
}