{
    "Sid": "AllowCrossAccountPush",
    "Effect": "Allow",
    "Principal": {
        "AWS": [${join(",", formatlist("\"arn:aws:iam::%s:root\"", ${push_account_list}))}]
    },
    "Action": [
        "ecr:PutImage",
        "ecr:InitiateLayerUpload",
        "ecr:UploadLayerPart",
        "ecr:CompleteLayerUpload"
    ]
}